.page {
  z-index: 1;
  position: relative;
  width: 1024px;
  height: 1303px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0;
}

.mod1 {
  z-index: 3;
  height: 82px;
  border-color: rgba(1, 116, 240, 1);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 1);
  width: 1024px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.section1 {
  z-index: auto;
  width: 963px;
  height: 51px;
  flex-direction: row;
  display: flex;
}

.img1 {
  z-index: 4;
  width: 49px;
  height: 51px;
}

.img2 {
  z-index: 5;
  width: 112px;
  height: 27px;
  margin-top: 5px;
  margin-left: 15px;
}

.word1 {
  z-index: 7;
  width: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(77, 73, 73, 1);
  font-size: 14px;
  font-family: STXihei;
  line-height: 14px;
  text-align: left;
  margin-top: 23px;
  margin-left: 308px;
}

.info1 {
  z-index: 8;
  width: 56px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(77, 73, 73, 1);
  font-size: 14px;
  font-family: STXihei;
  line-height: 14px;
  text-align: left;
  margin-top: 23px;
  margin-left: 40px;
}

.word2 {
  z-index: 11;
  width: 56px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(77, 73, 73, 1);
  font-size: 14px;
  font-family: STXihei;
  line-height: 14px;
  text-align: left;
  margin-top: 23px;
  margin-left: 42px;
}

.txt1 {
  z-index: 9;
  width: 56px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(77, 73, 73, 1);
  font-size: 14px;
  font-family: STXihei;
  line-height: 14px;
  text-align: left;
  margin-top: 24px;
  margin-left: 37px;
}

.info2 {
  z-index: 10;
  width: 56px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(77, 73, 73, 1);
  font-size: 14px;
  font-family: STXihei;
  line-height: 14px;
  text-align: left;
  margin-top: 24px;
  margin-left: 40px;
}

.info3 {
  z-index: 12;
  width: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(77, 73, 73, 1);
  font-size: 14px;
  font-family: STXihei;
  line-height: 14px;
  text-align: left;
  margin-top: 24px;
  margin-left: 40px;
}

.img3 {
  z-index: 6;
  position: absolute;
  left: 91px;
  top: 46px;
  width: 154px;
  height: 16px;
}
